{% extends "main/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/css/list.css' %}">
{% endblock style %}

{% block js %}
<script src="{% static 'main/js/list.js' %}"></script>
{% endblock js %}

{% block content %}
<section id="display-options-section">
  <div class="form-wrapper">
    <form action="{% url 'main:list' listID %}" method="post" id="display-options-form">
      {% csrf_token %}
      <h1 class="form-title">Display Options</h1>
      <div class="form-floating mb-3">
        <select id="show-tasks-select" class="form-select" name="show-tasks">
          <option value="0" {% if display.showItem == "0" %} selected {% endif %}>all tasks</option>
          <option value="1" {% if display.showItem == "1" %} selected {% endif %}>
            undone tasks only</option>
        </select>
        <label for="show-tasks-list">Tasks</label>
      </div>
      <div class="form-floating mb-3">
        <select id="sort-tasks-select" class="form-select" name="sort-tasks">
          <option value="0" {% if display.sortItem == "0" %} selected {% endif %}>deadline</option>
          <option value="1" {% if display.sortItem == "1" %} selected {% endif %}>content</option>
          <option value="2" {% if display.sortItem == "2" %} selected {% endif %}>done/undone
          </option>
        </select>
        <label for="sort-tasks-list">Sort by</label>
      </div>
      <div class="form-floating">
        <select id="deadline-select" class="form-select" name="deadline">
          <option value="0" {% if display.showDeadline == "0" %} selected {% endif %}>display full deadline</option>
          <option value="1" {% if display.showDeadline == "1" %} selected {% endif %}>display deadline date</option>
          <option value="2" {% if display.showDeadline == "2" %} selected {% endif %}>hide</option>
        </select>
        <label for="show-tasks-list">Deadline</label>
      </div>
      <div class="button-wrapper">
        <input type="button" class="btn btn-outline-secondary" value="Cancel" onclick="onDisplayOptionsCancelClick()">
        <input type="button" class="btn btn-secondary" value="Confirm" onclick="onDisplayOptionsSubmitClick()">
      </div>
    </form>
  </div>
</section>
<section id="list-section">
  <div class="upper-section">
    <i class="fas fa-angle-double-up me-3"></i>
    Scroll UP to choose different display method
  </div>
  <div class="card form-wrapper">
    <form action="{% url 'main:list' listID %}" method="post" id="list-form">
      {% csrf_token %}
      {% if taskObjs %}
      <h1 class="card-title" id="list-title">{{ title }}</h1>
      <div class="list-group-flush" id="list-item-list">
        {% for taskObj in taskObjs %}
        <button type="button"
          class="list-group-item list-group-item-action task-button {% if taskObj.done %} task-finished {% endif %}"
          id="task-{{ taskObj.id }}" onclick="onTaskBtnClick({{ taskObj.id }})">
          <i class="far me-2 icon"></i>
          {{ taskObj.content }} {% if taskObj.deadline %}({{ taskObj.deadline }}){% endif %}
        </button>
        {% endfor %}
      </div>
      {% else %}
      <h1 class="card-title" id="list-title">No Task Found</h1>
      {% endif %}
    </form>
    <div class="edit-task-wrapper">
      {% if taskObjs %}
      <button class="btn btn-outline-light" id="edit-task-btn" onclick="onEditTaskBtnClick()">Edit task</button>
      {% endif %}
    </div>
  </div>
  <div class="lower-section">
    <i class="fas fa-angle-double-down me-3"></i>
    Scroll DOWN to create new task
  </div>
</section>
<section id="new-task-section">
  <div class="form-wrapper">
    <form action="{% url 'main:list' listID %}" method="post" id="new-task-form">
      {% csrf_token %}
      <h1 class="form-title">Create New Task</h1>
      <div class="form-floating mb-3">
        <textarea class="form-control" id="task-content" name="task-content" required maxlength="300"
          placeholder="Enter the task content"></textarea>
        <label for="task-content">Task content (300 characters maximum)</label>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Task deadline</span>
        <input type="datetime-local" class="form-control" id="task-deadline" name="task-deadline" required />
      </div>
      <div class="button-wrapper">
        <input type="button" class="btn btn-outline-secondary" value="Cancel" onclick="onCreateNewCancelClick()">
        <input type="button" class="btn btn-secondary" value="Create" onclick="onCreateNewSubmitClick()">
      </div>
    </form>
  </div>
</section>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="edit-task-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-task-modal-label">Edit Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'main:list' listID %}" method="post" class="form-floating" id="edit-task-form">
          {% csrf_token %}
          <input type="text" class="form-control mb-3" id="edit-task-content" placeholder="task content" />
          <label for="edit-task-content">Task content</label>
          <div class="input-group mb-3">
            <span class="input-group-text">Task deadline</span>
            <input type="datetime-local" class="form-control" id="edit-task-deadline" name="edit-deadline" required />
          </div>
          <input type="hidden" id="edit-task-id" name="edit-task-id" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="onDeleteTaskClick()">Delete
          task</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onSaveChangesClick()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}