.main {
  #list-section {
    .upper-section,
    .lower-section {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        margin-bottom: 5px;
      }
    }
    .form-wrapper {
      width: 50%;
      height: 70%;
      margin: auto;
      position: relative;

      #list-form {
        height: 85%;
        display: flex;
        flex-direction: column;

        #list-title {
          margin: 5% auto;
          text-align: center;
          flex: 0 0 auto;
        }

        #list-item-list {
          margin: 0 auto;
          width: 70%;
          overflow: scroll;
          flex: 1;

          .task-button {
            .icon::before {
              color: red;
              content: "\f5b4"; // crying face
            }
            &.task-finished {
              color: #ccc;
              .icon::before {
                color: green;
                content: "\f118"; // smile face
              }
            }
            &.editing:hover {
              box-shadow: inset 0 0 0 2px black;
            }
          }
        }
      }
    }

    .edit-task-wrapper {
      height: 15%;
      padding: 0 15%;
      #edit-task-btn {
        position: relative;
        float: right;
        color: #aaa;
        border: none;
        &:hover {
          color: #000;
        }
      }
    }
  }

  #display-options-section,
  #new-task-section {
    display: flex;
    .form-wrapper {
      width: 30%;
      height: 70%;
      margin: auto;
      .form-title {
        margin: 5% auto;
        text-align: center;
      }
      .button-wrapper {
        margin: 10% 10%;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}
