.main #list-section .form-wrapper {
  width: 50%;
  height: 70%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main #list-section .form-wrapper #list-form {
  height: 85%;
  display: flex;
  flex-direction: column;
}

.main #list-section .form-wrapper #list-form #list-title {
  margin: 5% auto;
  text-align: center;
  flex: 0 0 auto;
}

.main #list-section .form-wrapper #list-form #list-item-list {
  margin: 0 auto;
  width: 70%;
  overflow: scroll;
  flex: 1;
}

.main #list-section .form-wrapper #list-form #list-item-list .task-button .icon::before {
  color: red;
  content: "\f5b4";
}

.main #list-section .form-wrapper #list-form #list-item-list .task-button.task-finished {
  color: #ccc;
}

.main #list-section .form-wrapper #list-form #list-item-list .task-button.task-finished .icon::before {
  color: green;
  content: "\f118";
}

.main #list-section .edit-task-wrapper {
  height: 15%;
  padding: 0 15%;
}

.main #list-section .edit-task-wrapper #edit-task-btn {
  position: relative;
  float: right;
  color: #aaa;
  border: none;
}

.main #list-section .edit-task-wrapper #edit-task-btn:hover {
  color: #000;
}

.main #display-options-section,
.main #new-task-section {
  display: flex;
}

.main #display-options-section .form-wrapper,
.main #new-task-section .form-wrapper {
  width: 30%;
  height: 70%;
  margin: auto;
}

.main #display-options-section .form-wrapper .form-title,
.main #new-task-section .form-wrapper .form-title {
  margin: 5% auto;
  text-align: center;
}

.main #display-options-section .form-wrapper .button-wrapper,
.main #new-task-section .form-wrapper .button-wrapper {
  margin: 10% 10%;
  display: flex;
  justify-content: space-evenly;
}
